html, body {
	background-color: white;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mono {
  font-family: 'Source Code Pro', monospace;
}

.fg-2 {
  flex-grow: 2;
}

.clickable {
  transition: opacity 0.1s ease-out;
  opacity: 1;

  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.error {
  color: #e16f6a
}

.c-help {
  cursor: help;
}
