html, body {
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.mono {
	font-family: 'Source Code Pro', monospace;
}

.fg-2 {
  flex-grow: 2;
}

.clickable {
	transition: opacity 0.1s ease-out;
  opacity: 1;

	&:hover {
  	opacity: .7;
		cursor: pointer;
	}
}

.abs-center {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
